{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    {% if article.file  %}
        <img src="/uploads/files/{{ article.file}}" >
    {% endif %}

    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <p>Crée : {{ article.created | date("d/m/Y") }}</p>
{% endblock %}
